body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0b0c10 !important;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.avatar {
  margin: 0;
  background-color: red;
}

.form {
  width: 100%;
  margin-top: 1rem;
}

.submit {
  margin: 3rem 0 2rem;
}

.bill-details-cell {
  color: #0b0c10 !important
}


.MuiDataGrid-columnHeader,
.MuiDataGrid-cell {
  flex: 1;
}

.MuiDataGrid-columnHeader {
  font-weight: bold;
  color: #0b0c10;
  font-size: 1rem;
}

.MuiDataGrid-cell {
  color: white;
  font-size: 0.8rem;
}

.MuiDataGrid-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiTablePagination-root {
  color: white !important;
}

/* .MuiDataGrid-footerContainer {
  background-color: white;
}
  */

  

.active {
  background-color: #66fcf1 !important;
  color: #0b0c10 !important;
}

.nav-btn {
  width: 100px;
  margin-left: 1rem !important;
}

.logo {
  font-size: 1.5rem !important;
}

.bills-input {
  margin-top: 5px !important;
}

#clientNameBills, #mobileBills, #addressBills {
  color: white !important
}

#search-box {
  color: white !important; /* Set your desired font color */
}

.sample-typography {
  color: white !important
}